body
{
  font-family: 'Courier New', Courier, monospace;
}


.navigation
{ 
display: flex;
align-items: center;
justify-content: center;

}

.navigation .list
{
    list-style-type: none;
    
}

.navigation .list a
{
    display: inline-block;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: black;
    font-size: 22px;

}

.info
{
  margin-top: 100px;
  text-align: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  
  .item {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: rgb(28, 150, 221);
    border: 1px solid black;
    
  }

  .item .img-printer
  {
   width: 200px;
   height: 200px;
  }

  .img-printer:hover
  {
    box-shadow: 0 10px 15px rgba(5, 174, 226, 0.548);
  }


  .item a
  {
    display: grid;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);

  }


  .footer {
    background-color: rgba(5, 174, 226, 0.548);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
}

.footer p
{
 text-align: center; 

}




