body
{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}

.main-header
{
  position: static;
}

.main-header .index-header
{
  padding: 2px;
  text-align: center;
  background: #76a79d;
  color: white;
  font-size: 15px;
  box-shadow: rgba(194, 191, 191, 0.425) 0px -50px 36px -28px inset;
}

.navigation
{ 
text-align: center;
}

.navigation .list
{
    list-style-type: none;
    padding-top: 25px;
    
}

.navigation .list a
{
    text-decoration: none;
    justify-content: space-between;
    padding: 60px;
    color: black;
    font-size: 22px;

}

.info
{
  margin-top: 100px;
  text-align: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76a79d;
    gap: 100px;
  }
  
  .item {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    
  }
  
  .item .img-support,
  .item .img-printer,
  .item .img-pc
  {
   width: 200px;
   height: 200px;
  }


  .container img:hover
  {
    padding-top: 20px;
  }

  .container .item img:hover
  {
    box-shadow: 0 10px 30px rgba(5, 174, 226, 0.548);

  }


  .item a
  {
    display: grid;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);

  }


  .footer {
    background-color: #76a79d;
    box-shadow: rgba(194, 191, 191, 0.425) 0px -50px 36px -28px inset;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
}

.footer p
{
 text-align: center; 

}




